.gradle
/local.properties
qAuthClient/.idea/workspace.xml
DummyClient/.idea/workspace.xml
/.idea/libraries
.DS_Store
qAuthClient/build
DummyClient/build
*.swp
qAuthServer/bin
qAuthServer/pkg
qAuthServer/src/9fans.net
qAuthServer/src/github.com
qAuthServer/src/golang.org
qAuthServer/src/generate_cert

