.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*.swp
qAuthServer/bin
qAuthServer/pkg
qAuthServer/src/9fans.net
qAuthServer/src/github.com
qAuthServer/src/golang.org
qAuthServer/src/generate_cert

